@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables defined in :root are globally accessible in the CSS */
:root {
    --navbar-height: 100px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    --bs-dark-rgb: 0,0,0;
}

main {
    flex: 1;
}

nav {
    height: var(--navbar-height);
}

.hero {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

/* Individual stars */
.star {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.5); /* Glow effect */
    animation: sparkle 5s infinite ease-in-out, move 50s linear infinite, glow 2s infinite ease-in-out;
}

/* Animations for sparkle (fade in/out), movement, and glow */
@keyframes sparkle {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes move {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.3);
    }

    50% {
        box-shadow: 0 0 12px 6px rgba(255, 255, 255, 0.8);
    }

    100% {
        box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.3);
    }
}

/* Hero Text Styling */
.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
}

    .hero-content h1 {
        font-size: 4rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .hero-content p {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .padding0{
        padding: 0px;
    }

    .btn-views{
        color: black;
    }

    .btn-crud{
        color: #fff;
        background-color: black;       
    }

    .btn-crud:hover{
        color: white;
        border-color: #fff;
    }
    