@model pi4_PixieVault_DemiBruls.Models.UserItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollectionItemId" class="control-label"></label>
                <select asp-for="CollectionItemId" class="form-control" asp-items="ViewBag.CollectionItemId"></select>
                <span asp-validation-for="CollectionItemId" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="CollectionItemPictureId" class="control-label"></label>
                <select asp-for="CollectionItemPictureId" class="form-control" asp-items="ViewBag.CollectionItemPictureId"></select>
                <span asp-validation-for="CollectionItemPictureId" class="text-danger"></span>
            </div> *@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsForSale" /> @Html.DisplayNameFor(model => model.IsForSale)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForSalePrice" class="control-label"></label>
                <input asp-for="ForSalePrice" class="form-control" />
                <span asp-validation-for="ForSalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-crud" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-crud" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
